.bg-white{
font-family: 'Montserrat';
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
     

}

<<<<<<< HEAD
.cardbutton {
=======
.colorButton {
>>>>>>> newpages
    color: white;
}